<div class="container">
  <h1>Users List</h1>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of users let i = index">
      <td>{{ user.id}}</td>
      <td>{{ user.name}}</td>
      <td>{{ user.email}}</td>
      <td><button class="btn btn-primary" (click)="AfficherDetails(user.id)">detail</button></td>
      <td><button class="btn btn-danger" (click)="DeleteUser(user.id)">delete</button></td>

    </tr>
  </table>
</div>
