<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h4 style="color:blue">Datails de l'utilisateur Num:{{user.id}}</h4> <br>
    <img [src]="user.image" alt="person img" style="float: right" width="150" height="150">
    <table width="400" height="200" style="float: left">
      <tr>
        <td style="font-weight: bold">Name :</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Email :</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Job title :</td>
        <td>{{user.jobTitle}}</td>
      </tr>
      <tr>
        <td style="font-weight: bold">Job type :</td>
        <td>{{user.jobType}}</td>
      </tr>
    </table>

    <br> <br>
    <a routerLink="/post-detail" (click)="AfficherPosts()"><strong>Articles</strong></a><br>
    <a routerLink="/users">retour</a>

  </div>
</div>
</div>
